body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

head {
    height: 10vh;
}

.logo {
    margin: 10px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 88vh;
}

.output-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-text-box,
.output-text-box {
    display: grid;
}

.input-text-box-1,
.input-text-box-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-text {
    text-align: center;
    border: none;
    color: #315cfd;
    width: 100vh;
    height: 50vh;
}

.img-muneco {
    display: block;
}

.input-text::placeholder {
    color: #315cfd;
    text-align: center;
    vertical-align: middle;
}

.input-text:focus {
    outline: none;
}

.button-encriptar,
.button-desencriptar,
.button-copiar {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 550;
}

.button-copiar {
    display: none;
}

.button-encriptar {
    border: 1px solid #315cfd;
    background: #315cfd;
}

.button-encriptar:hover {
    background: #315cfd;
    color: black;
    font-size: 0.9em;
}

.button-desencriptar:hover,
.button-copiar:hover {
    background: white;
    color: black;
    font-size: 0.9em;
}

.notification {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Agregar transición para la propiedad opacity */
}

.notification.show {
    display: block;
    opacity: 1;
}

@media screen and (max-width: 1114px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input-text {
        color: #315cfd;
        width: 30vh;
        height: 10vh;
    }

    .input-text::placeholder {
        color: #315cfd;
    }

    .buttons {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .output-text-box {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        text-align: center;
    }
}